/* Estilo general para el body */
body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para el header */
header {
  width: 80%;
  margin: 40px auto; /* Espacio en la parte superior */
  padding: 20px 40px; /* Espaciado interno para hacerlo más alargado */
  border-radius: 50px; /* Bordes circulares */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
  text-align: center; /* Centrar contenido */
  position: relative; /* Para la animación del borde */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* Sombra inicial */
  border: 5px solid transparent; /* Borde inicial transparente */
  animation: neonBorder 3s infinite alternate; /* Animación del borde */
}

/* Estilo del texto en el header */
header h1 {
  font-size: 28px;
  color: #f1efe6;
  text-transform: uppercase;
}

/* Estilo para el menú de navegación dentro del header */
header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 10px 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #f1efe6;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #00ffcc; /* Color de hover para el texto del menú */
}

/* Animación de los bordes del header con efecto neón */
@keyframes neonBorder {
  0% {
    border-color: #ff005f;
    box-shadow: 0 0 10px #ff005f, 0 0 20px #ff005f, 0 0 30px #ff005f;
  }
  50% {
    border-color: #00ffff;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  100% {
    border-color: #c0c0be;
    box-shadow: 0 0 10px #c0c0be, 0 0 20px #c0c0be, 0 0 30px #c0c0be;
  }
}



/
}

/* Estilo para los textos de introducción y beneficios */
.intro,
.benefits {
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 20px auto;
  color: #f1efe6;
}

.benefits ul {
  list-style: none;
  padding: 0;
}

.benefits ul li {
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.benefits ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #00ffcc;
  font-size: 24px;
}

/* Estilo del footer */
footer.footer {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f1efe6;
  margin-top: 40px;
}

/* Botón de WhatsApp flotante */
.whatsapp-button {
  position: fixed;
  bottom: 100px;
  left: 20px; /* Cambiado a la izquierda */
  width: 150px; /* Tamaño ajustado */
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Media Queries para dispositivos móviles */
@media only screen and (max-width: 768px) {
  /* Ajustes en móviles */
  header {
    width: 90%;
    padding: 15px 20px;
    font-size: 18px;
  }

  .card {
    width: 100%; /* Ocupa el 100% del ancho en móviles */
    margin-bottom: 15px;
  }

  .contact-form {
    width: 100%; /* Ancho completo para el formulario en móviles */
  }

  .intro,
  .benefits {
    width: 100%; /* Ancho completo para secciones en móviles */
  }

  .whatsapp-button {
    width: 45px; /* Ajuste de tamaño en móviles */
    height: 45px;
    bottom: 15px; /* Ajuste de posición en móviles */
    left: 15px;
  }
}


/* Botón en el footer */
.footer-button {
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white; /* Color inicial del texto */
  background-color: red; /* Color inicial del botón */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición para suavizar el cambio de color */
  text-decoration: none; /* Quitar el subrayado del enlace */
}

.footer-button:hover {
  background-color: white; /* Color de fondo al pasar el cursor */
  color: red; /* Cambiar el color del texto al pasar el cursor */
}


#google_translate_element {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000; /* Para que siempre esté por encima de otros elementos */
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}
